@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'flowbite/dist/flowbite.css';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import 'sweetalert2/src/sweetalert2.scss';


.expand-left{
    transition: width 0.3s ease;
}

.focus\:expand-left:focus{
    width: 200px;
    padding-left: 1rem;
}



.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-dots li {
    margin: 0;
    /* Hilangkan margin default antar dot */
}

.slick-dots li button::before {
    font-size: 10px;
    /* Ubah ukuran dot */
    color: gray;
    /* Ubah warna dot */
}

.slick-dots {
    display: flex !important;
    justify-content: center;
}


/* Tambahkan ini ke file CSS Anda */
.slick-arrow {
    display: none !important;
    /* Sembunyikan tombol panah default */
}

button {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.swal2-confirm-custom {
    background-color: #3085d6 !important;
    color: #fff !important;
    border: none !important;
    box-shadow: none !important;
    font-size: 16px;
    padding: 10px 24px;
    cursor: pointer;
}

.custom-loader {
    animation-duration: 12s;
    /* Mengatur durasi animasi spinner menjadi 3 detik */
}